.bg {
  align-self: stretch;
  height: 1080px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--black);
  display: none;
}
.bgIcon,
.contentChild {
  position: relative;
  max-width: 100%;
}
.bgIcon {
  width: 2422px;
  height: 1680px;
  display: none;
}
.contentChild {
  margin-left: -363px;
  height: 350px;
  width: 350px;
  filter: blur(200px);
  border-radius: 50%;
  background-color: var(--color-mediumspringgreen-300);
  flex-shrink: 0;
  z-index: 1;
}
.frameGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl-7);
  min-width: 502px;
  max-width: 100%;
}
.maskGroupIcon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.maskGroupIcon,
.updateBackground,
.updateContent {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.updateBackground {
  border-radius: var(--br-base);
  background: linear-gradient(
    180deg,
    rgba(22, 22, 22, 0),
    rgba(22, 22, 22, 0.8)
  );
  border: 2px solid var(--purple-sr);
  box-sizing: border-box;
  z-index: 2;
}
.updateContent {
  margin: 0 !important;
}
.update716,
.updateServidores {
  align-self: stretch;
  position: relative;
  z-index: 3;
}
.update716 {
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 600;
}
.updateServidores {
  font-size: var(--font-size-6xl);
  font-family: var(--font-encode-sans-condensed);
}
.update716Parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  min-width: 283px;
  max-width: 100%;
}
.frameChild,
.frameItem {
  height: 20px;
  flex: 1;
  position: relative;
  border-radius: var(--br-mini);
  z-index: 3;
}
.frameChild {
  background-color: var(--white);
}
.frameItem {
  border: 1px solid var(--white);
  box-sizing: border-box;
}
.frameWrapper,
.rectangleParent {
  display: flex;
  align-items: flex-start;
}
.rectangleParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.frameWrapper {
  width: 245px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 6px;
  box-sizing: border-box;
}
.frameParent,
.matchesParent,
.updateContentParent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.updateContentParent {
  flex: 0.9222;
  flex-direction: row;
  align-items: flex-end;
  padding: 244px var(--padding-11xl) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-12xl);
  min-width: 502px;
}
.frameParent,
.matchesParent {
  gap: var(--gap-xl);
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.matchesParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  min-width: 502px;
}
.ellipseDiv,
.frameChild1 {
  position: absolute;
  margin: 0 !important;
  border-radius: 50%;
  z-index: 1;
}
.ellipseDiv {
  width: 1000px;
  height: 1000px;
  bottom: -653px;
  left: -510px;
  filter: blur(500px);
  background-color: var(--color-mediumslateblue-100);
  mix-blend-mode: normal;
}
.frameChild1 {
  width: 450px;
  height: 450px;
  right: -433px;
  bottom: -22px;
  filter: blur(300px);
  background-color: var(--color-mediumspringgreen-300);
}
.maskGroupIcon1 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.guerrillaMask,
.guerrillaMaskChild,
.maskGroupIcon1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.guerrillaMaskChild {
  border-radius: var(--br-base);
  background: linear-gradient(
    252.4deg,
    rgba(22, 22, 22, 0),
    rgba(22, 22, 22, 0.8) 48.5%
  );
  border: 2px solid var(--purple-sr);
  box-sizing: border-box;
  z-index: 1;
}
.guerrillaMask {
  margin: 0 !important;
}
.misses {
  margin-block-start: 0;
  margin-block-end: 16px;
}
.guerrillaAlpha {
  margin: 0;
}
.missesGuerrillaAlphaContainer1 {
  width: 100%;
}
.missesGuerrillaAlphaContainer {
  margin: 0;
  width: 583px;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: flex-end;
  max-width: 100%;
  z-index: 2;
}
.placeholderIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text {
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 119px;
}
.textPadding {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.aboutButton,
.ellipseParent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  z-index: 2;
}
.aboutButton {
  width: 155px;
  border-radius: var(--br-5xs);
  background: linear-gradient(90deg, rgba(34, 214, 107, 0.2), #22d66b);
  border: 2px solid var(--color-mediumspringgreen-200);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-sm);
  gap: var(--gap-7xs);
  font-size: var(--font-size-base);
}
.ellipseParent {
  flex: 0.9351;
  flex-direction: column;
  justify-content: flex-end;
  padding: 265px var(--padding-xl) var(--padding-11xl) var(--padding-11xl);
  position: relative;
  gap: var(--gap-xl);
  min-width: 501px;
  max-width: 100%;
}
.mainContent,
.mainContentWrapper {
  flex-direction: column;
  max-width: 100%;
  flex-shrink: 0;
}
.mainContent {
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.mainContentWrapper {
  width: 1564px;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
}
.content,
.headerParent,
.mainContentWrapper,
.webHome {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  flex-direction: row;
  padding: 0 179px 0 177px;
  box-sizing: border-box;
  gap: 13px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--white);
  font-family: var(--font-kanit);
}
.headerParent,
.webHome {
  flex-direction: column;
}
.headerParent {
  align-self: stretch;
  gap: var(--gap-12xl);
  max-width: 100%;
}
.webHome {
  width: 100%;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--black);
  overflow: hidden;
  gap: 25px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1825px) {
  .content,
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .content {
    padding-left: 88px;
    padding-right: var(--padding-70xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .frameGroup {
    min-width: 100%;
  }
  .update716 {
    font-size: var(--font-size-13xl);
    line-height: 32px;
  }
  .updateContentParent {
    flex-wrap: wrap;
    min-width: 100%;
    flex: 1;
  }
  .matchesParent {
    min-width: 100%;
  }
  .missesGuerrillaAlphaContainer {
    font-size: var(--font-size-13xl);
    line-height: 24px;
  }
  .ellipseParent {
    min-width: 100%;
    flex: 1;
  }
  .content {
    padding-left: var(--padding-25xl);
    padding-right: var(--padding-25xl);
    box-sizing: border-box;
  }
  .headerParent {
    gap: var(--gap-mini);
  }
}
@media screen and (max-width: 450px) {
  .update716 {
    font-size: var(--font-size-5xl);
    line-height: 24px;
  }
  .updateServidores {
    font-size: var(--font-size-xl);
  }
  .updateContentParent {
    gap: var(--gap-mini);
  }
  .missesGuerrillaAlphaContainer {
    font-size: var(--font-size-5xl);
    line-height: 18px;
  }
  .ellipseParent {
    padding-top: 172px;
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .content {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
