.headerBg {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background: linear-gradient(
    -90deg,
    rgba(22, 22, 22, 0.2),
    rgba(83, 73, 226, 0.2)
  );
}
.logoIcon,
.placeholderIcon {
  position: relative;
  flex-shrink: 0;
}
.logoIcon {
  height: 37.1px;
  width: 80.3px;
  z-index: 1;
}
.placeholderIcon {
  height: 20px;
  width: 20px;
  overflow: hidden;
  display: none;
}
.text {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 44px;
}
.contactButton,
.textPadding {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.contactButton {
  box-shadow: var(--shadows-shadow-xs);
  border-radius: var(--br-5xs);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-base);
  gap: var(--gap-7xs);
  z-index: 1;
}
.text1 {
  align-self: stretch;
  width: 91px;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  display: none;
}
.contactButton1,
.textPadding1 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.textPadding1 {
  align-self: stretch;
  width: 93px;
  display: none;
  padding: 0 var(--padding-11xs);
}
.contactButton1 {
  height: 44px;
  flex: 1;
  box-shadow: var(--shadows-shadow-xs);
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  padding: var(--padding-3xs) var(--padding-base);
  gap: var(--gap-7xs);
  z-index: 1;
}
.text2 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 91px;
}
.contactButton2,
.contactButtonParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contactButton2 {
  box-shadow: var(--shadows-shadow-xs);
  border-radius: var(--br-5xs);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-base);
  gap: var(--gap-7xs);
  z-index: 2;
  margin-left: -125px;
}
.contactButtonParent {
  flex: 1;
  min-width: 83px;
}
.text3 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 88px;
}
.contactButton3 {
  flex: 0.7419;
  box-shadow: var(--shadows-shadow-xs);
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-7xs);
  min-width: 83px;
  z-index: 1;
}
.buttons,
.buttonsWrapper,
.contactButton3,
.logoParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttons {
  margin: 0;
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
  flex-shrink: 0;
  white-space: nowrap;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-kanit);
}
.buttonsWrapper,
.logoParent {
  box-sizing: border-box;
  max-width: 100%;
}
.buttonsWrapper {
  margin: 0;
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs-8) 0 0;
  min-width: 241px;
}
.logoParent {
  width: 561px;
  flex-direction: row;
  padding: 0 var(--padding-12xl) 0 0;
  gap: var(--gap-59xl-7);
}
.text4 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 111px;
}
.aboutButton {
  box-shadow: var(--shadows-shadow-xs);
  border-radius: var(--br-5xs);
  background: linear-gradient(
    90deg,
    rgba(34, 214, 107, 0.04),
    rgba(34, 214, 107, 0.2)
  );
  border: 1px solid var(--color-mediumspringgreen-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-mini);
  gap: var(--gap-7xs);
  z-index: 3;
}
.text5 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 25px;
}
.contactButton4,
.contactButton5,
.headerButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contactButton5 {
  width: 61px;
  box-shadow: var(--shadows-shadow-xs);
  border-radius: var(--br-5xs);
  border: 1px solid var(--purple-sr);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-5xs) var(--padding-mini);
  gap: var(--gap-7xs);
  z-index: 1;
}
.contactButton4,
.headerButtons {
  gap: var(--gap-xl);
  max-width: 100%;
}
.headerButtons {
  width: 1563px;
  align-items: flex-end;
  justify-content: space-between;
}
.headerButtonsWrapper,
.headerLine {
  align-self: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
}
.headerButtonsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  max-width: 100%;
}
.headerLine {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--purple-sr);
}
.header,
.headerWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.header {
  height: 80px;
  flex: 1;
  flex-direction: column;
  padding: var(--padding-base-2) 0 var(--padding-lg);
  position: relative;
  gap: var(--gap-lg);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-kanit);
}
.headerWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-16xl-6);
}
@media screen and (max-width: 1225px) {
  .headerButtons {
    flex-wrap: wrap;
  }
  .header {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .logoParent {
    flex-wrap: wrap;
    gap: var(--gap-20xl);
  }
}
@media screen and (max-width: 450px) {
  .contactButton3 {
    flex: 1;
  }
  .buttons {
    flex-wrap: wrap;
  }
  .logoParent {
    gap: var(--gap-xl);
  }
  .contactButton4 {
    flex-wrap: wrap;
  }
}
