.headerBg {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background: linear-gradient(
    -90deg,
    rgba(22, 22, 22, 0.2),
    rgba(83, 73, 226, 0.2)
  );
}
.logoIcon {
  align-self: stretch;
  width: 80.3px;
  position: relative;
  max-height: 100%;
  min-height: 44px;
  z-index: 1;
}
.placeholderIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 46px;
}
.aboutButton,
.textPadding {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.aboutButton {
  width: 82px;
  box-shadow: 0 0 20px #5349e2;
  border-radius: var(--br-5xs);
  background: linear-gradient(90deg, rgba(83, 73, 226, 0), #5349e2);
  border: 2px solid var(--purple-sr);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-6xs) var(--padding-sm);
  gap: var(--gap-7xs);
  z-index: 1;
}
.text1 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 91px;
}
.contactButton {
  flex: 1;
  box-shadow: var(--shadows-shadow-xs);
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-7xs);
  min-width: 83px;
  z-index: 1;

  border: 1px solid rgba(255, 255, 255, 0);
}
.text2 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 63px;
}
.contactButton1 {
  box-shadow: var(--shadows-shadow-xs);
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-base);
  gap: var(--gap-7xs);
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0);

}


.contactButton1:hover {
  background: linear-gradient(
    90deg,
    rgba(83, 73, 226, 0.04),
    rgba(83, 73, 226, 0.2)
  );

  border: 1px solid var(--purple-sr);
}
.contactButton:hover {
  background: linear-gradient(
    90deg,
    rgba(83, 73, 226, 0.04),
    rgba(83, 73, 226, 0.2)
  );

  border: 1px solid var(--purple-sr);
}


.text3 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 88px;
}
.aboutButtonParent {
  width: 554.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-43xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.text4 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 111px;
}
.aboutButton1 {
  box-shadow: var(--shadows-shadow-xs);
  border-radius: var(--br-5xs);
  background: linear-gradient(
    90deg,
    rgba(34, 214, 107, 0.04),
    rgba(34, 214, 107, 0.2)
  );
  border: 1px solid var(--color-mediumspringgreen-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-mini);
  gap: var(--gap-7xs);
  z-index: 2;
}
.text5 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 25px;
}
.aboutButtonGroup,
.buttonContainer,
.contactButton3,
.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contactButton3 {
  width: 61px;
  box-shadow: var(--shadows-shadow-xs);
  border-radius: var(--br-5xs);
  border: 1px solid var(--purple-sr);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-5xs) var(--padding-mini);
  gap: var(--gap-7xs);
  z-index: 1;
}
.aboutButtonGroup,
.buttonContainer,
.navigation {
  gap: var(--gap-xl);
  max-width: 100%;
}
.buttonContainer,
.navigation {
  gap: var(--gap-59xl-7);
}
.navigation {
  width: 1563px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.header,
.headerContent,
.headerLine {
  align-self: stretch;
  box-sizing: border-box;
}
.headerContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  max-width: 100%;
}
.header,
.headerLine {
  position: relative;
}
.headerLine {
  height: 1px;
  border-top: 1px solid var(--purple-sr);
  flex-shrink: 0;
}
.header {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0;
  gap: var(--gap-lg);
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-kanit);
}
@media screen and (max-width: 1825px) {
  .navigation {
    flex-wrap: wrap;
  }
  .header {
    height: auto;
  }
}
@media screen and (max-width: 1350px) {
  .buttonContainer {
    flex-wrap: wrap;
    gap: var(--gap-20xl);
  }
}
@media screen and (max-width: 925px) {
  .aboutButtonParent {
    flex-wrap: wrap;
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .buttonContainer {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .aboutButtonGroup {
    flex-wrap: wrap;
  }
}
