.headerBg {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background: linear-gradient(
    -90deg,
    rgba(22, 22, 22, 0.2),
    rgba(83, 73, 226, 0.2)
  );
}
.logoIcon,
.placeholderIcon {
  position: relative;
  flex-shrink: 0;
}
.logoIcon {
  align-self: stretch;
  width: 80.3px;
  max-height: 100%;
  min-height: 44px;
  z-index: 1;
}
.placeholderIcon {
  height: 20px;
  width: 20px;
  overflow: hidden;
  display: none;
}
.text {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 54px;
}
.contactButton,
.textPadding {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.contactButton {
  box-shadow: var(--shadows-shadow-xs);
  border-radius: var(--br-5xs);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-base);
  gap: var(--gap-7xs);
  z-index: 1;
  border-radius: 5px;
  transition: 0.3s ease-out;
}

.contactButton:hover {
  border: 2px solid white;
  border-radius: 20px;
}

.text1 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 91px;
}
.contactButton1 {
  flex: 1;
  box-shadow: var(--shadows-shadow-xs);
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-7xs);
  min-width: 83px;
  z-index: 1;
}
.text2 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 88px;
}
.contactButtonParent,
.logoParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contactButtonParent {
  margin: 0;
  flex: 1;
  gap: var(--gap-xl);
  min-width: 248px;
  flex-shrink: 0;
  white-space: nowrap;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-kanit);
}
.logoParent {
  width: 561px;
  padding: 0 var(--padding-10xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-51xl-7);
}
.text3 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 111px;
}
.aboutButton {
  box-shadow: var(--shadows-shadow-xs);
  border-radius: var(--br-5xs);
  background: linear-gradient(
    90deg,
    rgba(34, 214, 107, 0.04),
    rgba(34, 214, 107, 0.2)
  );
  border: 1px solid var(--color-mediumspringgreen-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-mini);
  gap: var(--gap-7xs);
  z-index: 2;
}
.text4 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 25px;
}
.aboutButtonParent,
.contactButton3,
.headerNavigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contactButton3 {
  width: 61px;
  box-shadow: var(--shadows-shadow-xs);
  border-radius: var(--br-5xs);
  border: 1px solid var(--purple-sr);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-5xs) var(--padding-mini);
  gap: var(--gap-7xs);
  z-index: 2;
}
.aboutButtonParent,
.headerNavigation {
  gap: var(--gap-xl);
  max-width: 100%;
}
.headerNavigation {
  width: 1563px;
  justify-content: space-between;
}
.header,
.headerContent,
.headerLine {
  align-self: stretch;
  box-sizing: border-box;
}
.headerContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  max-width: 100%;
}
.header,
.headerLine {
  position: relative;
}
.headerLine {
  height: 1px;
  border-top: 1px solid var(--purple-sr);
  flex-shrink: 0;
}
.header {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0;
  gap: var(--gap-lg);
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-kanit);
}
@media screen and (max-width: 1425px) {
  .headerNavigation {
    flex-wrap: wrap;
  }
  .header {
    height: auto;
  }
}
@media screen and (max-width: 950px) {
  .logoParent {
    flex-wrap: wrap;
    gap: var(--gap-16xl);
  }
}
@media screen and (max-width: 450px) {
  .contactButtonParent {
    flex-wrap: wrap;
  }
  .logoParent {
    gap: var(--gap-lg);
  }
  .aboutButtonParent {
    flex-wrap: wrap;
  }
}
