.frameChild {
  align-self: stretch;
  width: 138px;
  position: relative;
  border-radius: var(--br-xs);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(83, 73, 226, 0.5),
    rgba(22, 22, 22, 0.25)
  );
  border: 1px solid var(--purple-sr);
  box-sizing: border-box;
  display: none;
}
.div {
  height: 70px;
  flex: 1;
  position: relative;
  line-height: 44px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.rectangleParent {
  width: 138px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: var(--br-xs);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(83, 73, 226, 0.5),
    rgba(22, 22, 22, 0.25)
  );
  border: 1px solid var(--purple-sr);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.deathMatchFfa,
.frameItem {
  position: relative;
  max-width: 100%;
}
.frameItem {
  align-self: stretch;
  width: 614px;
  border-radius: var(--br-xs);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(83, 73, 226, 0.5),
    rgba(22, 22, 22, 0.25)
  );
  border: 1px solid var(--purple-sr);
  box-sizing: border-box;
  display: none;
}
.deathMatchFfa {
  height: 70px;
  flex: 1;
  line-height: 44px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.matchTypes,
.rectangleGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangleGroup {
  align-self: stretch;
  border-radius: var(--br-xs);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(83, 73, 226, 0.5),
    rgba(22, 22, 22, 0.25)
  );
  border: 1px solid var(--purple-sr);
  box-sizing: border-box;
  flex-direction: row;
  z-index: 2;
}
.matchTypes {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
  min-width: 399px;
}
.rectangleParent1 {
  width: 138px;
  border-radius: var(--br-xs);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(83, 73, 226, 0.5),
    rgba(22, 22, 22, 0.25)
  );
  border: 1px solid var(--purple-sr);
  box-sizing: border-box;
  z-index: 2;
}
.matchList,
.rectangleParent1,
.rectangleParent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.matchList {
  flex: 1;
  gap: var(--gap-xl);
  max-width: 100%;
}
.rectangleParent2 {
  width: 138px;
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 35px);
  right: 0;
  border-radius: var(--br-xs);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(83, 73, 226, 0.5),
    rgba(22, 22, 22, 0.25)
  );
  border: 1px solid var(--purple-sr);
  box-sizing: border-box;
  z-index: 2;
}
.frameGroup,
.frameParent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}
.frameParent {
  width: 773px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-xl-5);
  min-width: 773px;
}
.updateChild {
  width: 450px;
  height: 450px;
  position: absolute;
  margin: 0 !important;
  right: -300px;
  bottom: -207px;
  filter: blur(300px);
  border-radius: 50%;
  background-color: var(--color-mediumspringgreen-200);
  z-index: 1;
}
.maskGroupIcon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
}
.maskGroupIcon,
.updateBackground,
.updateContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.updateBackground {
  border-radius: var(--br-base);
  background: linear-gradient(
    180deg,
    rgba(22, 22, 22, 0),
    rgba(22, 22, 22, 0.8)
  );
  border: 2px solid var(--purple-sr);
  box-sizing: border-box;
  z-index: 3;
}
.updateContent {
  margin: 0 !important;
}
.update716,
.updateServidores {
  position: relative;
  max-width: 100%;
  z-index: 4;
}
.update716 {
  width: 511px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
}
.updateServidores {
  flex: 1;
  display: inline-block;
  min-width: 254px;
}
.progressChild,
.progressItem {
  height: 35.8px;
  flex: 1;
  position: relative;
  border-radius: var(--br-mini);
  min-width: 54px;
  max-width: 59px;
  z-index: 4;
}
.progressChild {
  background-color: var(--white);
}
.progressItem {
  border: 1px solid var(--white);
  box-sizing: border-box;
}
.progress {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-mid-6);
}
.progress,
.progressBar,
.updateServidores16DeJulhParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.progressBar {
  width: 287.2px;
  flex-direction: column;
  padding: var(--padding-3xs-5) 0 0;
  box-sizing: border-box;
}
.updateServidores16DeJulhParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-16xl-6);
  max-width: 100%;
  font-size: var(--font-size-6xl);
  font-family: var(--font-encode-sans-condensed);
}
.mainBody,
.update {
  flex: 1;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.update {
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-35xl) var(--padding-16xl) var(--padding-34xl-7);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-18xl);
  min-width: 588px;
  min-height: 612px;
  text-align: left;
  font-size: var(--font-size-21xl);
}
.mainBody {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--white);
  font-family: var(--font-kanit);
}
@media screen and (max-width: 1450px) {
  .frameParent {
    flex: 1;
  }
  .mainBody {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .frameParent {
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .matchTypes {
    min-width: 100%;
  }
  .matchList {
    flex-wrap: wrap;
  }
  .update716 {
    font-size: var(--font-size-13xl);
    line-height: 32px;
  }
  .updateServidores16DeJulhParent {
    flex-wrap: wrap;
  }
  .update {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .deathMatchFfa,
  .div {
    font-size: var(--font-size-xl);
    line-height: 35px;
  }
  .update716 {
    font-size: var(--font-size-5xl);
    line-height: 24px;
  }
  .updateServidores {
    font-size: var(--font-size-xl);
  }
  .progress {
    flex-wrap: wrap;
  }
  .update,
  .updateServidores16DeJulhParent {
    gap: var(--gap-lg);
  }
}
